@import 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-noto-sans-kr: var(--font-noto-sans-kr);
  --font-jua: var(--font-jua);
  --font-black-han-sans: var(--font-black-han-sans);
  --font-gamja-flower: var(--font-gamja-flower);
  --font-gaegu: var(--font-gaegu);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes selectButton {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes particles {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(var(--direction, -10px));
  }
}

.cut-selector-particle-up {
  --direction: -10px;
}

.cut-selector-particle-down {
  --direction: 10px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-left {
  animation: scroll-left 20s linear infinite;
}
